/* ========================
   FLIPBOOK STYLE
   ======================== */
#book {
  width: 50vw;
  height: 50vh;
  position: absolute;
  left: 25vw;
  top: 25vh;
  perspective: 75vw;
}

#book:before {
  width: 1%;
  height: 100%;
  background: #222;
  content: '';
  position: absolute;
  left: 49%;
  top: 0;
  box-shadow: 0px 10px 10px rgba(0,0,0,.75);
  outline: 1px solid black;
}

.page {
  width: 50%;
  height: 100%;
  background: radial-gradient(circle at 0% 100%, #777, #ddd 70%);
  outline: 1px solid black;
  box-shadow: 5px 10px 10px rgba(0,0,0,.15);
  position: absolute;
  left: 50%;
  top: 0;
  transition: z-index .01s linear 1s, transform 2s linear;
  transform-origin: 0% 50%;
  z-index: 5;
  cursor: pointer;
  font-family: cursive;
  text-align: center;
  line-height: 50vh;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: cursive;
  text-align: center;
  line-height: 50vh;
  opacity: 0;
  transition: opacity .1s linear 1s;
}

.front {
  opacity: 1;
}
.back {
  transform: scaleX(-1);
}

input {
  visibility: hidden;
}

label {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

/* PAGE FLIP EFFECT */
input:checked + .page {
  transform: rotateY(-180deg);
}
input:checked + .page .front {
  opacity: 0;
}
input:checked + .page .back {
  opacity: 1;
}

/* PAGE ORDER */
#eight:checked + .page { z-index: 8; }
#seven:checked + .page { z-index: 7; }
#six:checked + .page { z-index: 6; }
#five:checked + .page { z-index: 5; }
#four:checked + .page { z-index: 4; }
#three:checked + .page { z-index: 3; }
#two:checked + .page { z-index: 2; }
#one:checked + .page { z-index: 1; }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: azure;
  background-image: linear-gradient(-45deg, white, black);
}

/* ========================
   IMAGE RESPONSIVE
   ======================== */
img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 2vh;
  border-radius: 10px;
  object-fit: contain;
}

/* ========================
   PAGE STYLES (KAMU PUNYA)
   ======================== */
#page1 .front {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3vh;
  letter-spacing: 0.6vh;
  font-weight: 900;
  color: lime;
  background: radial-gradient(circle at 70% 50%, black 50%, #222 40%);
  text-align: center;
  line-height: normal;
  font-family: cursive;
  animation: cover 3s linear infinite;
}

@keyframes cover {
  0%   { color: lime; }
  25%  { color: magenta; }
  50%  { color: dodgerblue; }
  75%  { color: gold; }
  100% { color: lime; }
}

/* ========================
   RESPONSIVE SETTINGS
   ======================== */
@media (max-width: 1024px) {
  #book {
    width: 70vw;
    height: 60vh;
    left: 15vw;
    top: 20vh;
    perspective: 100vw;
  }
}

@media (max-width: 768px) {
  #book {
    width: 90vw;
    height: 60vh;
    left: 5vw;
    top: 20vh;
    perspective: 120vw;
  }

  .page {
    line-height: 30vh;
  }

  .front, .back {
    font-size: 2vh;
    line-height: 30vh;
  }

  img {
    max-width: 90%;
    max-height: 60%;
  }
}

@media (max-width: 480px) {
  #book {
    width: 95vw;
    height: 65vh;
    left: 2.5vw;
    top: 17vh;
  }

  .front, .back {
    font-size: 1.8vh;
    line-height: 25vh;
  }

  img {
    max-width: 95%;
    max-height: 55%;
  }
}
